
{% macro list(files, currentPage, currentFiles, maxLevel, level) %}
{% spaceless %}
{% for file in files %}
	<li class="{% if file.children is iterable %}has-children{% endif %} {% if currentPage.url == file.filename %}active{% endif %}">
		<a href="{{ file.filename }}">{{ file.title | title }} </a>
	{% if file.children is iterable and (level+1 < maxLevel or (file.filename in currentFiles and maxLevel > 0) )%}
		<ul class="nav nav-list">
		{{ _self.list(file.children, currentPage, currentFiles, maxLevel, level+1) }}
		</ul>
	{% endif %}
	</li>
{% endfor %}
{% endspaceless %}
{% endmacro %}

<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Gnosis</title>
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/assets/css/base.css" />
	</head>
	<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Gnosis</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              {{ _self.list(files, finalBreadcrumb, currentFiles, 0) }}
            </ul>
          </div>
        </div>
      </div>
    </div>

	<div class="container-fluid">

		<div class="row-fluid">
			<div class="span3">
				<div class="well sidebar-nav">
					<ul class="nav nav-list">
						{{ _self.list(files, finalBreadcrumb, currentFiles, 2) }}
					</ul>
				</div>
			</div>
			<div class="span9">
				<ul class="breadcrumb">
					{% for crumb in breadcrumbs %}
					<li>
						<a href="{{crumb.url}}">{{crumb.title | title}}</a> <span class="divider">/</span>
					</li>
					{% endfor %}
					<li class="active">{{ finalBreadcrumb.title | title }}</li>
				</ul>

				{% block content %}{% endblock %}
			</div>
		</div>

		<hr>

		<footer>
		<p>&copy; Company 2012</p>
		</footer>

	</div><!--/.fluid-container-->
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	</body>
</html>